<%= form_for([@listing, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :delivery_address, "Address" %><br>
    <%= f.text_field :delivery_address, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :delivery_city, "City" %><br>
    <%= f.text_field :delivery_city, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :delivery_state, "State" %><br>
    <%= f.text_field :delivery_state, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
